<div ng-controller="HeaderController">
    <link href="assets/css/ui.css" rel="stylesheet" />



    <!--=== Header ===-->
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_faq.html">Help</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">Login</a></li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand portfolio" href="javascript:void(0);" ng-click="home()">
                        <!--<img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">-->
                        <img id="logo-header" src="assets/img/SandhanFullLogoTransparent1.png" alt="Sandhan">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Home -->
                        <li class="dropdown1" ng-class="menu.home">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" ng-click="home()">
                                Home
                            </a>

                        </li>
                        <!-- End Home -->
                        <!-- Pages -->
                        <li class="dropdown1" ng-class="menu.about">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" ng-click="about()">
                                About Us
                            </a>
                        </li>
                        <!-- End Pages -->
                        <!-- Features -->
                        <li class="dropdown1" ng-class="menu.service">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" ng-click="service()">
                                Service
                            </a>

                        </li>
                        <!-- End Features -->
                        <!-- Portfolio -->
                        <!--<li class="dropdown1 mega-menu-fullwidth">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Portfolio
                            </a>

                        </li>-->
                        <!-- Ens Portfolio -->
                        <!-- Blog -->
                        <!--<li class="dropdown1" ng-class="menu.blog">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                Blog
                            </a>

                        </li>-->
                        <!-- End Blog -->
                        <!-- Contacts -->
                        <li class="dropdown1" ng-class="menu.contact">
                            <a href="javascript:void(0);" ng-click="contact();" class="dropdown-toggle" data-toggle="dropdown">
                                Contact Us
                            </a>
                        </li>
                        <!-- End Contacts -->
                        <!-- Search Block -->
                        <li>
                            <i class="search fa fa-search search-btn"></i>
                            <div class="search-open">
                                <div class="input-group animated fadeInDown">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">
                                        <button class="btn-u" type="button">Go</button>
                                    </span>
                                </div>
                            </div>
                        </li>
                        <!-- End Search Block -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

</div>